<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyoseon.board.main.dao.BoardInterfaceDao">


	<!-- 글등록하기 -->
	<insert id="post"
    parameterType="com.hyoseon.board.main.vo.Board" useGeneratedKeys="true"
		keyProperty="postidx">
    INSERT INTO post

		(postWriter, postPassword, postTitle, postText, postFileName)
		VALUES
		(#{postWriter}, #{postPassword}, #{postTitle}, #{postText}, #{postFileName})

	</insert>


	<!-- 모든 OOTD 글 리스트 불러오기 -->
	<select id="getAllList"
		resultType="com.hyoseon.board.main.vo.Board">
		select * from post order by postDate desc;
	</select>

	
	<!-- 글번호에 해당하는 글의 정보 (비밀번호제외) -->
	<select id="postByIdx"
		resultType="com.hyoseon.board.main.vo.Board">

		select 
		postidx, postWriter, postTitle, postDate, postFileName, postText
		from post where postidx=#{postidx}

	</select>

	<!-- 글번호와 비밀번호 체크하기 -->
	<select id="passchk" resultType="int">
		select count(*)
		from post
		where postidx=${param1}
		AND 
		postPassword=${param2}
	</select>

	<!-- 글 수정하기 -->
	<update id="updatePost"
	parameterType="com.hyoseon.board.main.vo.Board">
		update post
		set
		postWriter=#{postWriter},
		postTitle=#{postTitle},
		postFileName=#{postFileName},
		postText=#{postText}
		where
		postidx=#{postidx}
	</update>

	<!--비밀번호 확인하기 -->
	<select id="passChk" resultType="int">
		select count(*)
		from post
		where
		postidx=#{param1}
		AND
		postPassword=#{param2}
	</select>


	<!-- 파일이름  -->
<select id="getFileName" resultType="String">
    select postFileName from post where postidx=#{param1} AND postPassword=#{param2}
</select>

	<!-- 글 삭제하기 -->
<delete id="deletePost">
	delete from post
	where  postidx=#{param1} AND postPassword=#{param2}
</delete>

</mapper>